<html>
    <head>
      {% if title %}
      <title>{{ title }} - Mapper</title>
      {% else %}
      <title>Mapper - Home</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}">
    </head>
    <body>
        <div>
          <a href="/index">Home</a>
          <a href="/login">login</a>
          <a href="/scripts">traitements</a>
          <a href="/macros">macros</a>
          <a href="{{url_for('static', filename='doc_pyetl/build/html/index.html')}}">Help</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
