<!doctype html>
<html lang=en>
<head>
{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">
  <link rel="icon" href="{{url_for('static', filename='images/favicon.ico')}}">

{% endblock %}
</head>
<body>
{% block body %}
  <div class="container-fluid">
  {% block navbar %}
  <nav class="navbar  navbar-expand-lg navbar-dark bg-dark sticky-top">
    {#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
    <div class="container">
      <a class="navbar-brand" href="/intro">
        <img src="{{url_for('static', filename='images/favicon.ico')}} "
             class="d-inline-block align-center" alt="">
        pyetl
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-fill justify-content-center">
        <li class="nav_item">
          <a class="nav-link" aria-current="page" href="/index">Home</a>
        </li>
        <li class="nav_item">
          <a class="nav-link" href="/login">login</a>
        </li>
        <li class="nav_item">
          <a class="nav-link" href="/scripts">scripts</a>
        </li>
        <li class="nav_item">
          <a class="nav-link" href="/macros">macros</a>
        </li>
        <li class="nav_item">
          <a class="nav-link" href="/apis">services_web</a>
        </li>
        <li class="nav_item">
          <a class="nav-link" href="/help">help</a>
        </li>
        <li class="nav_item">
          <a class="nav-link" href="/fmgr">fmgr</a>
        </li>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
            <button class="btn btn-secondary" type="submit">recherche</button>
        <a class="nav-link" href="#">       </a>
        <a class="navbar-brand" href="#">  {{ nom }}  </a>
        </div>
      </div>
    </div>
  </nav>

  {% endblock %}
  <div class="position-sticky" >
  {% block title %}Mapper{% endblock %}
  </div>
  <div class="position-sticky"  id = "vm">
  {% block content %}

  {% endblock %}
  </div>

{% block scripts %}
<script src="{{url_for('.static', filename='js/vue.js')}}"></script>
<script src="{{url_for('.static', filename='js/axios.js')}}"></script>
<script src="{{url_for('.static', filename='js/jquery-3.5.1.slim.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/bootstrap/bootstrap.min.js')}}"></script>
{% endblock %}


{% endblock %}
</div>
{#<script src="{{url_for('.static', filename='js/specific/start_vue.js')}}"></script>
</body>
</html>
