{% extends "base.html" %}
{% block title %}<h1>lancement script {{ nom }}</h1>{% endblock %}

{% block content %}
    <div class="container">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row align-items-center">
            <div class="col">
                <img src="{{url_for('static', filename='images/waitform.gif')}}">
            </div>
            {%if ws%}
                <div class="col">
                    <p style="text-align:right">voir resultat en mode webservice</p>
                </div>
                <div class="col">{{ form["x_ws"]() }}</div>
                {%endif%}
            <div class="col">
            <p>{{ form.submit() }}</p>
            </div>
        </div>

        {% for item in varlist if item[0]!="x_ws"%}
            <div class="row">
                <div class="col-sm">
                    <p style="text-align:right"> {{ item[1] }}</p>
                </div>
                <div class="col-sm">
                    {{ form[item[0]]() }}
                </div>
            </div>
        {% endfor %}
    </form>
    </div>
{% endblock %}
