
{% extends "base.html" %}

{% block content %}
    <div>
    <table class="table table-bordered table-hover">
    <thead class="sticky-top">
        <tr>
            <td>Nom/run</td>
            <td>Date de Mise a Jour</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        {% for item in liste %}
        <tr>
            <td><a href=exec/{{ item.url }}> {{ item.nom }}</a></td>
            <td>{{ item.date_maj }}</td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}
