
{% extends "base.html" %}
{% block title %}
    <div class=container-fluid>
        <div class="col-md-auto">
            <a href=/mw/edit/{{ nom }}>edit</a>
        </div>
        <div class="col-md-auto">
            <h1>{{ nom }}</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="table-responsive" style="height:80vh">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>num</th>
                    <th>att_tri1</th>
                    <th>valeur_tri1</th>
                    <th>att_tri2</th>
                    <th>valeur_tri2</th>
                    <th>att_sortie</th>
                    <th>defaut</th>
                    <th>att_entree</th>
                    <th>mode</th>
                    <th>param1</th>
                    <th>param2</th>
                    <th>debug</th>
                    <th>variables</th>
                    <th>commentaires</th>
                </tr>
            </thead>
            <tbody>
                {% for n,span,ligne,type_ligne in code %}
                    <tr class="{{type_ligne}}">
                        <td>{{ n }}</td>
                        <td colspan={{ span }}>{{ ligne[0] }}</td>
                        {% for item in ligne[1:] %}
                            <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
