
{% extends "base.html" %}

{% block content %}
    <title>nom</title>
    <table>
    <thead>
        <tr>
            <th>famille</th>
            <th>nom</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in descriptif.items() %}
            {%for nom, def in value.items()%}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ nom }}</td>
                    <td>{{ def }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
