
{% extends "base.html" %}

{% block content %}
    <title>nom</title>
    <table>
    <thead>
        <tr>
            <td>num</td>
            <td>att_tri1</td>
            <td>valeur_tri1</td>
            <td>att_tri2</td>
            <td>valeur_tri2</td>
            <td>att_sortie</td>
            <td>defaut</td>
            <td>att_entree</td>
            <td>mode</td>
            <td>param1</td>
            <td>param2</td>
            <td>debug</td>
            <td>variables</td>
            <td>commentaires</td>
        </tr>
    </thead>
    <tbody>
        {% for n,span,ligne in code %}
            <tr>
                <td>{{ n }}</td>
                <td colspan={{ span }}>{{ ligne[0] }}</td>
                {% for item in ligne[1:] %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}
