
{% extends "base.html" %}
{% block title %}
    <h1>{{nom}}</h1>
{% endblock %}
{% block content %}
<div class=container>
    <p>{{descriptif.get("help",[])}}<p>
    {%for ligne in descriptif.get("help_detaillee",[])%}
        <p>{{ligne}}<p>
    {% endfor %}
    {%if descriptif.get("parametres")%}
        <h2>parametres</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr><th>nom</th><th>Description</th></tr>
                </thead>
                <tbody>
                {%for nom,definition in descriptif.get("parametres").items()%}
                    <tr class="table-info">
                        <td>{{ nom }}</td><td>{{ definition }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {%endif%}
    {%if descriptif.get("variables")%}
        <h2>variables</h2>
        <table>
            <thead>
            <tr><th>nom</th><th>Description</th></tr>
        </thead>
        <tbody>
        {%for nom,definition in descriptif.get("variables".items())%}
            <td>{{ nom }}</td><td>{{ definition }}</td>
        {% endfor %}
        </tbody>
    {%endif%}
    {%if descriptif.get("entree")%}
        <h2>entree:{{descriptif.get("entree")}}</h2>
    {%endif%}
    {%if descriptif.get("sortie")%}
        <h2>entree:{{descriptif.get("sortie")}}</h2>
    {%endif%}
    {%if descriptif.get("api")%}
        <h2>disponible en tant que service web:{{descriptif.get("api")}}</h2>
    {%endif%}
</div>
{% endblock %}
