table {
    border-collapse: collapse;
    width: 100%;
  }

table, th, td {
    border: 1px solid black;
  }

tr {
    height: 1pc;
  }
thead {
    background-image: url("planche.png");
    background-color: #4CAF50;
    text-align: center;
    color: white;
    height:40px
  }
h1 {
    text-align: center;
    color: white;
    font: 2em Broadway;
    background-image: url("planche.png");
    background-repeat: no-repeat;
    background-position: center;
  }

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.log {
  display: block;
  width: 100%;
  scroll-behavior: auto;
}
