table {
    border-collapse: collapse;
    width: 100%;
  }

  table, th, td {
    border: 1px solid black;

  }
  thead {
    background-image: url("planche.png");
    background-color: #4CAF50;
    text-align: center;
    color: white;
    height:40px
  }
