


thead {
    background-image: url("planche.png");
    background-color: #4CAF50;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
  }

h1 {
    text-align: center;
    color: blue;
    font: 2em Broadway;
    background-image: url("planche.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }


#submit {
  background-image: url("run.gif");
}
